%form{method:'post', enctype:'multipart/form-data', action:'/process', id: 'form'} 
  %input{type:'file', name:'image', id:'file'}
  %input{type:'submit', value:'Upload!', id:'submit'}
%img{src:'', id:'canvas'}
