#upload
  %form{method:'post', enctype:'multipart/form-data', action:'/process', id: 'form'} 
    %label{for:'image', id:'label'} Upload A Whiteboard Image
    %input{type:'file', name:'image', id:'file'}
